<template>
  <div>
    <h1 class="mb-0">Connexion</h1>
    <p>Entrez vos informations de connexions pour entrer sur le site </p>
      <div class="form-group">
        <label for="exampleInputEmail1">Adresse Email</label>
        <input type="email" class="form-control mb-0" id="exampleInputEmail1" placeholder="Email" v-model="username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Mot de Passe</label>
        <router-link :to="{ name: 'auth1.password-reset1' }" class="float-right">Mot de passe oublié ?</router-link>
        <input type="password" class="form-control mb-0" id="exampleInputPassword1" placeholder="Mot de passe" v-model="password">
      </div>
      <div class="d-inline-block w-100">
        <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Se souvenir de moi</label>
        </div>
        <button type="submit" class="btn btn-primary float-right" @click="signIn">Connexion</button>
      </div>
      <div class="sign-info">
        <span class="dark-color d-inline-block line-height-2">Pas de compte ? <router-link :to="{ name: 'auth1.sign-up1'}">Inscription</router-link></span>
      </div>
  </div>
</template>

<script>
import store from '@/store/index'
import api from "@/api/axios";
export default {
  name: 'SignIn1',
  data(){
    return {
      username:"",
      password:"",
    }
  },
  mounted () {
  },
  methods: {
    signIn(){
      api.post('/api/login_check',{username:this.username,password:this.password},{headers: {'Content-Type':"application/json"}}).then(response=>{
        if(response.status===200){
          localStorage.setItem('jwt',response.data.token)
          this.$router.push({name: 'social.list'})
        }else{
          alert("Mot de passe Incorrect")
        }
      })
    }
  }
}
</script>
