<template>
  <div>
    <h1 class="mb-0">Sign Up</h1>
    <p>Enter your email address and password to access admin panel.</p>
    <div class="mt-4">
      <div class="form-group">
        <label for="firstnameInput">Prénom</label>
        <input type="text" class="form-control mb-0" id="firstnameInput" placeholder="Votre Prénom" v-model="firstname">
      </div>
      <div class="form-group">
        <label for="lastnameInput">Nom de Famille</label>
        <input type="text" class="form-control mb-0" id="lastnameInput" placeholder="Votre Nom" v-model="lastname">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">Addresse Email</label>
        <input type="email" class="form-control mb-0" id="exampleInputEmail2" placeholder="Votre Adresse Mail"
               v-model="email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Mot de passe</label>
        <input type="password" class="form-control mb-0" id="exampleInputPassword1" placeholder="Mot de Passe"
               v-model="password">
      </div>
      <div class="d-inline-block w-100">
        <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">J'accepte les <a href="#">Termes et
            Conditions</a></label>
        </div>
        <button class="btn btn-primary float-right" @click="signUp">Inscription</button>
      </div>
      <div class="sign-info">
        <span class="dark-color d-inline-block line-height-2">Déja un compte ? <router-link :to="{ name: 'auth1.sign-in1'}">Connexion</router-link></span>
      </div>
    </div>
  </div>
</template>
<script>

import api from "@/api/axios";

export default {
  name: 'SignUp1',
  data() {
    return {
      user: {
        firstname: '',
        lastname: '',
        email: '',
        password: ''
      }
    }

  },
  methods: {
    signUp() {
      api.post('/api/users', {
        firstname: this.firstname,
        lastname: this.lastname,
        email: this.email,
        password: this.password
      }, {
        headers:
            {'Content-Type': "application/json"}
      }).then(response=>{
        if(response.status===201){
          this.$router.push({name:'auth1.sign-in1'})
        }else{
          alert('Identifiants Incorects')
        }
      })
    }
  }
}
</script>
