<template>
  <b-row>
    <b-col sm="12">
      <b-row class=" m-0 p-0">
        <b-col lg="8">
          <social-post :post="socialPost"></social-post>
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
import IqCard from "@/components/socialvue/cards/iq-card";
import AddSocialPost from "@/views/Apps/Social/Components/AddSocialPost";
import SocialPost from "@/views/Apps/Social/Components/SocialPost";
import {socialvue} from "@/config/pluginInit";
import api from "@/api/axios";

export default {
  name: "SocialPostFullPage",
  components: { IqCard, AddSocialPost, SocialPost },
  data(){
    return{
      socialPost:{},
    }
  },
  created(){
    if(this.$route.query.postId) {
      this.postId = this.$route.query.postId;
    }
  },
  mounted () {
    socialvue.index()
    api.get(`/api/resources/${this.postId}`,{headers:{Authorization:"Bearer "+localStorage.getItem('jwt')}}).then(response=> {
      console.log(response.data)
        this.socialPost=response.data
    })
  },
}
</script>