<template>
  <b-row>
    <b-col sm="12">
        <iq-card class="iq-card">
          <div class="iq-card-body profile-page p-0">
              <div class="profile-header">
                <div class="cover-container">
                    <img src="../../../assets/images/page-img/profile-bg1.jpg" alt="profile-bg" class="rounded img-fluid">
                    <ul class="header-nav d-flex flex-wrap justify-end p-0 m-0">
                      <li><a href="javascript:void(0);"><i class="ri-pencil-line"></i></a></li>
                      <li><a href="/user/profile-edit"><i class="ri-settings-4-line"></i></a></li>
                    </ul>
                </div>
                <div class="user-detail text-center mb-3">
                    <div class="profile-img">
                      <img src="../../../assets/images/user/11.png" alt="profile-img" class="avatar-130 img-fluid" />
                    </div>
                    <div class="profile-detail">
                      <h3 class="">{{user.firstname}} {{ user.lastname }}</h3>
                    </div>
                </div>
                <div class="profile-info p-4 d-flex align-items-center justify-content-between position-relative">
                    <!--<div class="social-links">
                      <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                          <li  v-for="(item,index) in social" :key="index" class="text-center pr-3">
                            <a href="javasctipt:void(0)"><img :src="item" class="img-fluid rounded" alt="facebook"></a>
                          </li>
                      </ul>
                    </div>-->
                    <div class="social-info">
                      <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                          <li class="text-center pl-3">
                            <h6>Favoris</h6>
                            <p class="mb-0">{{user.favorites.length}}</p>
                          </li>
                      </ul>
                    </div>
                </div>
              </div>
          </div>
        </iq-card>
        <iq-card class="iq-card">
          <div class="iq-card-body p-0">
            <div class="user-tabing">
              <tab-nav :pills="true" id="pills-tab" class="nav nav-pills d-flex align-items-center justify-content-center profile-feed-items p-0 m-0">
                <tab-nav-items class="col-sm-4 p-0" :active="true" id="pills-feed-tab" href="#profile-feed" ariaControls="pills-home" role="tab" :ariaSelected="true" title="Timeline" />
                <tab-nav-items class="col-sm-4 p-0" :active="false" id="pills-friend-tab" href="#profile-friends" ariaControls="pills-contact" role="tab" :ariaSelected="false" title="Favoris" />
                <tab-nav-items class="col-sm-4 p-0" :active="false" id="pills-activity-tab" href="#profile-activity" ariaControls="pills-profile" role="tab" :ariaSelected="false" title="A propos" />
                <!--<tab-nav-items class="col-sm-3 p-0" :active="false" id="pills-profile-tab" href="#profile-profile" ariaControls="pills-contact" role="tab" :ariaSelected="false" title="Photos" />-->
              </tab-nav>
            </div>
          </div>
        </iq-card>
    </b-col>
    <b-col sm="12">
      <div class="tab-content">
        <tab-content-item :active="true" id="profile-feed" aria-labelled-by="pills-feed-tab">
          <div class="iq-card-body p-0">
            <b-row>
              <!--<b-col lg="4">
                <iq-card>
                  <template v-slot:headerTitle>
                    <h4 class="card-title">Life Event</h4>
                  </template>
                  <template v-slot:headerAction>
                    <p class="m-0"><a href="#"> Create </a></p>
                  </template>
                  <div class="row iq-card-body">
                    <div class="col-sm-12" v-for="(event,index) in lifeEvent" :key="index">
                      <div class="event-post position-relative">
                        <a href="#">
                          <img :src="event.img" alt="gallary-image" class="img-fluid rounded"></a>
                        <div class="job-icon-position">
                          <div class="job-icon bg-primary p-2 d-inline-block rounded-circle"><i class="ri-briefcase-line"></i></div>
                        </div>
                        <div class="iq-card-body text-center p-2">
                          <h5>{{event.heading}}</h5>
                          <p>{{event.date}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </iq-card>
                <iq-card>
                  <template v-slot:headerTitle>
                    <h4 class="card-title">Photos</h4>
                  </template>
                  <template v-slot:headerAction>
                    <p class="m-0"><a href="#">Add Photo </a></p>
                  </template>
                  <template v-slot:body>
                    <ul class="profile-img-gallary d-flex flex-wrap p-0 m-0">
                      <li class="col-md-4 col-6 pl-2 pr-0 pb-3" v-for="(photo,index) in phtoes" :key="index">
                        <a href="#"><img :src="photo" alt="gallary-image" class="img-fluid" /></a>
                      </li>
                    </ul>
                  </template>
                </iq-card>
                <iq-card>
                  <template v-slot:headerTitle>
                    <h4 class="card-title">Friends</h4>
                  </template>
                  <template v-slot:headerAction>
                    <p class="m-0"><a href="javacsript:void();">Add New </a></p>
                  </template>
                  <template v-slot:body>
                    <ul class="profile-img-gallary d-flex flex-wrap p-0 m-0">
                      <li class="col-md-4 col-6 pl-2 pr-0 pb-3" v-for="(friend,index) in friends" :key="index">
                        <a href="#">
                          <img :src="friend.img" alt="gallary-image" class="img-fluid" /></a>
                        <h6 class="mt-2">{{friend.name}}</h6>
                      </li>
                    </ul>
                  </template>
                </iq-card>
              </b-col>-->
              <b-col lg="12"><!--Change to 8 when second column-->
                <div id="post-modal-data" class="iq-card">
                  <AddSocialPost @addPost="addPost"></AddSocialPost>
                  <div  v-for="post in socialPosts" :key="post.id">
                    <social-post :post="post"></social-post>
                  </div>
                </div>
              </b-col>
            </b-row>
          </div>
        </tab-content-item>
        <tab-content-item :active="false" id="profile-friends" aria-labelled-by="pills-friend-tab">
          <div class="iq-card-body p-0">
            <b-row>
              <b-col lg="12"><!--Change to 8 when second column-->
                <div id="post-modal-data2" class="iq-card">
                  <div  v-for="post in favoritesPosts" :key="post.id">
                    <social-post :post="post"></social-post>
                  </div>
                </div>
              </b-col>
            </b-row>
          </div>
        </tab-content-item>
        <tab-content-item :active="false" id="profile-activity" aria-labelled-by="pills-activity-tab">
          <div class="iq-card">
            <div class="iq-card-body">
              <div class="row">
                <div class="col-md-3">
                  <tab-nav :pills="true" id="tab" class="nav nav-pills basic-info-items list-inline d-block p-0 m-0" >
                    <tab-nav-items :active="true" id="pills-contact-info" href="#contact-info" ariaControls="pills-contact-info" role="tab" :ariaSelected="true" title="Informations de base" />
                  </tab-nav>
                </div>
                <div class="col-md-9">
                  <div class="tab-content">
                    <tab-content-item :active="true" id="contact-info" aria-labelled-by="pills-contact-info">
                      <h4>Informations de contacts</h4>
                      <hr>
                      <div class="row">
                        <div class="col-3">
                          <h6>Email</h6>
                        </div>
                        <div class="col-9">
                          <p class="mb-0">{{user.email}}</p>
                        </div>
                        <div class="col-3">
                          <h6>Prénom</h6>
                        </div>
                        <div class="col-9">
                          <p class="mb-0">{{ user.firstname }}</p>
                        </div>
                        <div class="col-3">
                          <h6>Nom</h6>
                        </div>
                        <div class="col-9">
                          <p class="mb-0">{{user.lastname}}</p>
                        </div>
                      </div>
                      <!--<h4 class="mt-3">Websites and Social Links</h4>
                      <hr>
                      <div class="row">
                        <div class="col-3">
                          <h6>Website</h6>
                        </div>
                        <div class="col-9">
                          <p class="mb-0">www.bootstrap.com</p>
                        </div>
                        <div class="col-3">
                          <h6>Social Link</h6>
                        </div>
                        <div class="col-9">
                          <p class="mb-0">www.bootstrap.com</p>
                        </div>
                      </div>
                      <h4 class="mt-3">Basic Information</h4>
                      <hr>
                      <div class="row">
                        <div class="col-3">
                          <h6>Birth Date</h6>
                        </div>
                        <div class="col-9">
                          <p class="mb-0">24 January</p>
                        </div>
                        <div class="col-3">
                          <h6>Birth Year</h6>
                        </div>
                        <div class="col-9">
                          <p class="mb-0">1994</p>
                        </div>
                        <div class="col-3">
                          <h6>Gender</h6>
                        </div>
                        <div class="col-9">
                          <p class="mb-0">Female</p>
                        </div>
                        <div class="col-3">
                          <h6>interested in</h6>
                        </div>
                        <div class="col-9">
                          <p class="mb-0">Designing</p>
                        </div>
                        <div class="col-3">
                          <h6>language</h6>
                        </div>
                        <div class="col-9">
                          <p class="mb-0">English, French</p>
                        </div>
                      </div>-->
                    </tab-content-item>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab-content-item>
        <!--<tab-content-item :active="false" id="profile-profile" aria-labelled-by="pills-profile-tab">
          <iq-card>
            <template v-slot:body>
              <h2>Photos</h2>
              <tab-nav :pills="true" id="pills" class="nav nav-pills d-flex align-items-center justify-content-left friend-list-items p-0 mb-2">
                <tab-nav-items liClass=" " :active="true" id="pills-photo-you-tab" href="#photo-you" ariaControls="pills-photo-you" role="tab" :ariaSelected="true" title="Photo of you" />
                <tab-nav-items liClass=" " :active="false" id="pills-your-photo-tab" href="#your-photo" ariaControls="pills-your-photo" role="tab" :ariaSelected="false" title="your photo" />
              </tab-nav>
              <div class="tab-content">
                <tab-content-item :active="true" id="photo-you" aria-labelled-by="pills-photo-you-tab">
                  <b-row>
                    <b-col v-for="(item,index) in profileImages" :key="index" md="6" lg="3" class="mb-3">
                      <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                          <img :src="item.img" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                          <div class="product-elements-icon">
                            <ul class="d-flex align-items-center m-0 p-0 list-inline">
                              <li v-for="(item,index1) in item.otherInfo" :key="index1">
                                <a href="#" class="pr-3 text-white"> {{item.value}} <i :class="item.class"></i> </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                      </div>
                    </b-col>
                  </b-row>
                </tab-content-item>
                <tab-content-item :active="false" id="your-photo" aria-labelled-by="pills-your-photo-tab">
                  <ProfileImage />
                </tab-content-item>
              </div>
            </template>
          </iq-card>
        </tab-content-item>-->
      </div>
    </b-col>
    <div class="col-sm-12 text-center">
      <img src="../../../assets/images/page-img/page-load-loader.gif" alt="loader" style="height: 100px;">
    </div>
  </b-row>
</template>
<script>
import { socialvue } from '../../../config/pluginInit'
import ProfileImage from './ProfileImage'
import FriendTab from './ProfileFriends/FriendTab'
import About from './ProfileFriends/About'
import AddSocialPost from '../../Apps/Social/Components/AddSocialPost'
import Post from '../../../Model/Post'
import SocialPost from '../../Apps/Social/Components/SocialPost'
import api from "@/api/axios";
export default {
  name: 'Profile',
  mounted () {
    socialvue.index()
    api.get('/api/user-data',{headers:{Authorization:"Bearer "+localStorage.getItem('jwt')}}).then(response=>{
      this.user = response.data
      api.get('/api/resources',{headers:{Authorization:"Bearer "+localStorage.getItem('jwt')}}).then(ressources=> {
        ressources.data["hydra:member"].forEach(element=>{
          if(this.user.id===element.author.id){
            this.socialPosts.push(element)
          }
          element.favorites.forEach(favorite=>{
            if(this.user.id===favorite.user.id){
              this.favoritesPosts.push(element)
            }
          })
        })
      })
    })
  },
  components: {
    FriendTab,
    ProfileImage,
    AddSocialPost,
    SocialPost,
    About
  },
  data () {
    return {
      user: {},
      userFavorites: {},
      post: new Post(),
      socialPosts: [],
      favoritesPosts: [],
    }
  },
  methods: {
    addPost (post) {
      this.socialPosts.unshift(post)
    }
  }
}
</script>
