<template>
  <div >
    <iq-card  id="post-modal-data" body-class="iq-card iq-card-block iq-card-stretch iq-card-height" >
      <template v-slot:headerTitle >
        <h4 class="card-title">Créer un Post</h4>
      </template>
      <div class="iq-card-body" v-b-modal.modal1>
        <div class="d-flex align-items-center">
            <div  class="post-text ml-3 w-100">
            <input type="text" placeholder="Ecrivez quelque chose" class="rounded form-control" v-model="post.description" style="border:none;" />
            </div>
        </div>
        <hr/>
      </div>
      <b-modal id="modal1" centered title="Créer un Post" hide-footer>
          <input type="text" placeholder="Titre" class="rounded form-control" v-model="post.title" style="border:none;" />
          <div class="d-flex align-items-center">
            <input type="text" placeholder="Ecrivez quelque chose..." class="rounded form-control" v-model="post.content" style="border:none;" />
          </div>
        <span>{{category}}</span>
        <select v-model="post.category" id="selectcategory" multiple>
          <option v-for="categorie in categories" :key="categorie.id" v-bind:value="categorie.id">{{categorie.name}}</option>
        </select>
        <hr/>
        <button class="btn btn-primary d-block w-100 mt-3" @click="addNewPost(post)">Poster</button>
      </b-modal>
    </iq-card>
  </div>
</template>
<script>
import Post from '../../../../Model/Post'
import api from "@/api/axios";
export default {
  name: 'AddSocialPost',
  props:[
      'categories'
  ],
  data () {
    return {
      post: new Post(),
      category:"",
      tab: [
        {
          icon: require('../../../../assets/images/small/07.png'),
          name: ' Photo/Video'
        },
        {
          icon: require('../../../../assets/images/small/08.png'),
          name: ' Tag Friend'
        },
        {
          icon: require('../../../../assets/images/small/09.png'),
          name: 'Feeling/Activity'
        },
        {
          icon: require('../../../../assets/images/small/10.png'),
          name: 'Check in'
        },
        {
          icon: require('../../../../assets/images/small/11.png'),
          name: 'Live Video'
        },
        {
          icon: require('../../../../assets/images/small/12.png'),
          name: ' Gif'
        },
        {
          icon: require('../../../../assets/images/small/13.png'),
          name: 'Watch Party'
        },
        {
          icon: require('../../../../assets/images/small/14.png'),
          name: ' Play with Friends'
        }
      ]
    }
  },
  methods: {
    addNewPost (post) {
      api.post('/api/resources',{
        title:post.title,
        content:post.content,
        category:["/api/resource_categories/"+post.category],
        visibility:post.visibility,
        type:post.type
      },{headers:{Authorization:"Bearer "+localStorage.getItem('jwt'),'Content-Type':'application/json'}}).then(response=>{
        console.log(response.data)
        this.$emit('addPost', response.data)})
      this.$bvModal.hide('modal1')
    },
    resetPost () {
      this.post = new Post()
    },
    previewImage: function (event) {
      const files = event.target.files
      Object.keys(files).forEach(i => {
        const file = files[i]
        const reader = new FileReader()
        reader.onload = (e) => {
          this.post.images.push(e.target.result)
        }
        reader.readAsDataURL(file)
      })
    }
  }
}
</script>
