<template>
  <iq-card body-class="p-0">
    <template v-slot:body>
      <div class="user-post-data p-3">
        <div class="d-flex flex-wrap">
          <!--<div class="media-support-user-img mr-3">
            <b-img rounded="circle" fluid :src="post.user.profile" alt=""/>
          </div>-->
          <div class="media-support-info mt-2">
            <h5 class="mb-0"><router-link :to="{name:'social.userprofile',query:{userId:post.author.id}}">{{post.author.firstname}} {{post.author.lastname}}</router-link></h5>
            <p class="mb-0 text-secondary">{{post.time | formatDate }}</p>
          </div>
          <div class="iq-card-header-toolbar d-flex align-items-center">
            <b-dropdown id="dropdownMenuButton40" right variant="none" menu-class="p-0" v-if="user.id===post.author.id">
              <template v-slot:button-content>
                <b-link href="javascript:void(0)" class="text-secondary"><i class="ml-3 ri-more-2-line"></i></b-link>
              </template>
              <a @click="deletePost()" class="dropdown-item p-3">
                <div class="d-flex align-items-top">
                  <div class="icon font-size-20"><i class="ri-close-circle-line"></i></div>
                  <div class="data ml-2">
                    <h6>Supprimer le Post</h6>
                    <p class="mb-0">Supprimer ce post</p>
                  </div>
                </div>
              </a>
            </b-dropdown>
          </div>
        </div>
      </div>
    </template>
    <hr class="m-0" />
    <div class="user-post">
      <h5 class="p-2" v-if="post.title"><router-link :to="{name:'social.fullsocialpost',query:{postId:post.id}}">{{post.title}}</router-link></h5>
      <p class="p-2" v-if="post.content">{{post.content}}</p>
      <!--<div id="photo-grid">
        <photo-grid :box-height="'400px'" :box-width="'100%'" :boxBorder=2>
          <img v-for="(image, index) in post.images" :src="image" :key="index" />
        </photo-grid>
      </div>-->
    </div>
    <div class="comment-area p-3">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center justify-content-between">
          <div class="like-block position-relative d-flex align-items-center">
            <div class="d-flex align-items-center">
              <div class="like-data">
                <div class="dropdown">
                  <span aria-haspopup="true" aria-expanded="false" role="button">
                    <img :src="require('../../../../assets/images/icon/01.png')" class="img-fluid" alt="">
                  </span>
                </div>
              </div>
              <div class="total-like-block ml-2 mr-3">
                <div class="dropdown">
                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" @click="likePost">
                {{post.favorites.length}} Likes
                </span>
                  <div class="dropdown-menu" v-for="(postLike, postLikeIndex) in post.favorites" :key="postLike.id">
                    <a class="dropdown-item" href="javascript:void(0)">{{postLike.user.firstname}} {{postLike.user.lastname}}</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="total-comment-block">
              <div class="dropdown">
               <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
               {{post.comments.length}} Comment
               </span>
                <div class="dropdown-menu" v-for="(postComment,postCommentIndex) in post.comments" :key="postComment.id">
                  <a class="dropdown-item" href="javascript:void(0)">{{postComment.user.firstname}} {{postComment.user.lastname}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="share-block d-flex align-items-center feather-icon mr-3">
          <a href="javascript:void(0)"><i class="ri-share-line"></i>
            <span class="ml-1">99 Share</span></a>
        </div>-->
      </div>
      <hr>
      <ul class="post-comments p-0 m-0">
        <li class="mb-2" v-for="(postComment, postCommentIndex) in post.comments" :key="postComment.id">
          <div class="d-flex flex-wrap">
            <div class="comment-data-block ml-3">
              <h6>{{postComment.user.firstname}} {{postComment.user.lastname}}</h6>
              <p class="mb-0">{{postComment.message}}</p>
              <div class="d-flex flex-wrap align-items-center comment-activity">
                <!--<b-link @click="isLikedComment(postCommentIndex, !postComment.is_commentLike)">
                  <span v-if="!postComment.is_commentLike" class="text-primary">like</span>
                  <span class="text-secondary" v-else>unlike</span>
                </b-link>
                <span>{{postComment.user.time | formatDate}}</span>-->
                <b-link @click="deleteComment(postComment)" v-if="postComment.user.id===user.id">Delete</b-link>
                <b-link @click="" v-else>Reply</b-link>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <b-form class="comment-text d-flex align-items-center mt-3" action="javascript:void(0);">
        <b-form-input type="text" @keyup.enter="saveComment(commentMessage)" v-model="commentMessage" class="rounded" placeholder="Commentaire" />
        <div class="comment-attagement d-flex">
          <b-link href="javascript:void(0);"><i class="ri-send-plane-line mr-2" @click="saveComment(commentMessage)"></i></b-link>
        </div>
      </b-form>
    </div>
</iq-card>
</template>
<script>
import api from "@/api/axios";
import {socialvue} from "@/config/pluginInit";

export default {
  name: 'SocialPost',
  props: [
    'post'
  ],
  data () {
    return {
      commentMessage: '',
      user:{}
    }
  },
  mounted () {
    socialvue.index()
    api.get('/api/user-data',{headers:{Authorization:"Bearer "+localStorage.getItem('jwt')}}).then(response=> {
      this.user = response.data;
    })

  },
  methods: {
    isLiked () {
      var isLiked = false;
      this.post.favorites.forEach(favorite=>{
        if(favorite.user.id===this.user.id){
          isLiked = true;
        }
      })
      return isLiked
    },
    isFollowed (follow) {
      this.post.is_follow = follow
    },
    isLikedComment (index, like) {
      this.post.comments[index].is_commentLike = like
    },
    likePost(){
      if(this.isLiked()){
        var favoriteId=0;
        var index=-1;
        this.post.favorites.forEach(favorite=>{
          index++;
          if(favorite.user.id===this.user.id){
            favoriteId = favorite.id;
          }
        })
        api.delete(`/api/favorites/${favoriteId}`,{headers:{Authorization:"Bearer "+localStorage.getItem('jwt')}}).then(response=> {
          this.post.favorites.splice(index,1)
        })
      }else{
        api.post('/api/favorites',{
          resource:this.post['@id']
        },{headers:{Authorization:"Bearer "+localStorage.getItem('jwt')}}).then(response=> {
          if(response.status===201){
            this.post.favorites.unshift({
              id:response.data.id,
              user:{
                firstname:this.post.author.firstname,
                lastname:this.post.author.lastname,
                id:this.post.author.id
              }
            })
          }
        })
      }
    },
    saveComment (postComment) {
      this.post.comments.push({
        resource:this.post['@id'],
        message:postComment,
        status:'accepted',
        user:{
          firstname:this.user.firstname,
          lastname:this.user.lastname,
          id:this.user.id
        }
      })
      api.post('/api/comments',{
        resource:this.post['@id'],
        message:this.commentMessage,
        status:"accepted"
      },{headers:{Authorization:"Bearer "+localStorage.getItem('jwt')}}).then(response=>console.log(response))
    },
    deletePost(){
      api.delete( `/api/resources/${this.post.id}`,{headers:{Authorization:"Bearer "+localStorage.getItem('jwt')}}).then(response=>{
        window.location.reload()
      })
    },
    deleteComment(comment){
      api.delete(`/api/comments/${comment.id}`,{headers:{Authorization:"Bearer "+localStorage.getItem('jwt')}}).then(response=>{
        window.location.reload()
      })
    }
  }
}
</script>

<style>
  .dropdown-item{
    color: #212529 !important;
  }
  .dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover{
    background: transparent;
    color: var(--iq-primary) !important;
  }
</style>
